//Background colors
$background-navbar: #020203;
$background-dashboard: #ffffff;
$background-graph: #fbfbfb;

//Font colors
$font-color_red: #e60000;
$font-color_black: #000000;
$font-color_gray: #74798c;
$font-color_white: #ffffff;
