.score {
  position: relative;
  width: 258px;
  height: 263px;
  background: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);

  .scoreTitle {
    position: absolute;
    left: 3rem;
    top: 0.4rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #20253a;
    font-weight: 500;
  }

  .scoreText {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
    text-align: center;
    color: #74798c;
    background: #fbfbfb;
    padding: 0rem 2.7rem;

    .scoreTextValue {
      color: #282d30;
      font-weight: 700;
      font-size: 2.6rem;
    }
  }
}
